In [2]:
#Session on Tue 29.07.2025

x = 5
y = 10

type(y)

# int - number with no decimals - ages, number of plans etc
# float - number with a decimal - FTE etc

# mathematical operators work on number types + - * / ** 
z = x ** y

z

9765625

In [3]:
#Session on Tue 29.07.2025

a = "5"
b = "10"

type(a)

# for strings, + concatenates
c = a + b

c

'510'

In [6]:
#Session on Tue 29.07.2025

d = int(a) + int(b)
d

15

In [7]:
#Session on Tue 29.07.2025

# student exercise

first_name = "Ramanjit"
surname = "Mand"
whole_name = first_name + " " + surname
print(whole_name)

Ramanjit Mand

In [8]:
#Session on Tue 29.07.2025

whole_name.capitalize()
whole_name.strip()
whole_name.title()

# Link in chat - lots of string methods for cleaning

'Ramanjit Mand'

In [9]:
#Session on Tue 29.07.2025

whole_name.split()

# Converts if there's a space, comma etc between them into a list

['Ramanjit', 'Mand']

In [10]:
#Session on Tue 29.07.2025

# Lists
# square brackets with each element separated by a comma (and a space for readability)
list_1 = [1, x, a]
list_2 = [10, 11, 12, list_1]
type(list_1)
list_2 # this prints list_2
list_2[0] # print the 0th element of this list
list_2[3] # print the last element of this list if you know how many elements there are in the list
list_2[-1] # print the last elemts of this list if you don't know how big the list is

#list_1[start:stop]
# start is inclusive
#stop is exclusive
list_3 = list(range(10))
list_3[2:5] # lists 3rd to 6th elements
list_3[2:6:2] # starting element position.stop element position.step between i.e. in this case go in 2's
# Python interview can ask you to step back

# counting of elements in Python starts from 0

[2, 4]

In [11]:
#Session on Tue 29.07.2025

# Dictionaries - sometimes called hash maps
# uses curly brackets
# elements separated by commas 
# elements are made up of a key and a value (come in pairs)
# keys have to be immutable objects - objects that can't be changed - string or a number
# values can be anything 
# can be used to store tabular data and use it for mapping

dict_1 = {}
type(dict_1)

dict_1 = {'Key_1':'Value_1',
          'Key_2':'Value_2'}
dict_1

# my example
dict_rkm = {'Key_1':1,
            'Key_2':2}
dict_rkm

#mapping example from one column to another
ethnicity_dict = {'WIRI':'White',
                  'WOTH':'White',
                  'CHNE':'Chinese'}
ethnicity_dict
ethnicity_dict['CHNE'] # access values from dict

ethnicity_dict.keys() # access all keys
ethnicity_dict.values() # access all values
ethnicity_dict.items() # access all items (key and value pairs)

ethnic_items = list(ethnicity_dict.items())
ethnic_items[1][0]

'WOTH'

In [12]:
#Session on Tue 29.07.2025

# dataframes are the most common way of intercting with and using tabular data, e.g. load csvs/xmls etc
# use a module called Pandas to make dataframes, generally

import pandas as pd # I would like Pandas imported when I run Python; shorthand pandas to pd in my code
# reading excels or csvs to get data in

# a dictionary of lists or a list of dictionaries
# df  = pd.DataFrame() - from the pandas module get a dataframe
df_1  = pd.DataFrame({
    'CHILD':['Will', 'Stephen', 'Ramanjit'],
    'Borough':['Norwich', 'Newham', 'Riverview'],
    'Employer':['D2i', 'LIIA', 'LIIA']
})
df_1
# df is a really common shorthand for 'dataframe'
# reading excels or csvs 

df_2 = pd.DataFrame([{
    'CHILD':'Will',
    'Borough':'Norwich',
    'Employer':'D2i'},
    {'CHILD':'Stephen',
     'Borough':'Newham',
     'Employer':'LIIA'},
    {'CHILD':'Ramanjit',
     'Borough':'Riverview',
     'Employer':'LIIA'}
])
df_2

# Example 1
df_2[df_2['Employer'] == 'LIIA'] # check if Employer column is equal to LIIA

# Example 2
condition_1 = df_2['Employer'] == 'LIIA'
condition_1

df_2[condition_1]

condition_2 = df_2['Borough'] == 'Riverview'

df_2[condition_1 & condition_2] # & means and (when both conditions are true)

# | (pipe) means or (when at least one condition is true)

# Examples of other imports you can do
# import numpy as np 
# import matplotlib.pyplot as plt

      CHILD    Borough Employer
2  Ramanjit  Riverview     LIIA

In [13]:
#Session on Tue 29.07.2025

url = 'https://raw.githubusercontent.com/data-to-insight/ERN-sessions/refs/heads/main/data/ChildIdentifiers.csv' # You need '' around the url
# This is some sample csv data

child_identifiers = pd.read_csv(url)

child_identifiers

,Unnamed: 0,LAchildID,UPN,FormerUPN,UPNunknown,PersonBirthDate,ExpectedPersonBirthDate,GenderCurrent,PersonDeathDate
0,0,RND000215205141,A850728973744,NaN,NaN,2019-12-06,NaN,1,NaN
1,1,RND000824303014,A141396438491,NaN,NaN,2011-04-27,NaN,9,NaN
2,2,RND000750143123,A929946861554,NaN,NaN,2017-06-06,2019-12-06,1,NaN
3,3,RND000909164501,A612330267292,NaN,NaN,2014-10-03,NaN,0,NaN
4,4,RND000382171815,A604459366806,NaN,NaN,2019-09-25,NaN,2,NaN
...,...,...,...,...,...,...,...,...,...
327,327,RND000112711501,A465246916125,NaN,NaN,2010-07-07,NaN,2,NaN
328,328,RND000513120794,A540014111973,NaN,NaN,2018-08-14,NaN,2,NaN
329,329,RND000541643134,A549582689058,NaN,NaN,2021-12-09,NaN,51,NaN
330,330,RND000404939452,A889492349196,NaN,NaN,2013-07-23,NaN,2,NaN
331,331,RND000589802835,A877624860226,NaN,NaN,2021-10-25,NaN,9,NaN

In [15]:
#Session on Tue 29.07.2025

child_identifiers
print(child_identifiers)

x = 5
print(x)

y = 10
print(y)

z = x + y
print(z)

     Unnamed: 0        LAchildID            UPN  FormerUPN  UPNunknown  \
0             0  RND000215205141  A850728973744        NaN         NaN
1             1  RND000824303014  A141396438491        NaN         NaN
2             2  RND000750143123  A929946861554        NaN         NaN
3             3  RND000909164501  A612330267292        NaN         NaN
4             4  RND000382171815  A604459366806        NaN         NaN
..          ...              ...            ...        ...         ...
327         327  RND000112711501  A465246916125        NaN         NaN
328         328  RND000513120794  A540014111973        NaN         NaN
329         329  RND000541643134  A549582689058        NaN         NaN
330         330  RND000404939452  A889492349196        NaN         NaN
331         331  RND000589802835  A877624860226        NaN         NaN

    PersonBirthDate ExpectedPersonBirthDate  GenderCurrent PersonDeathDate
0        2019-12-06                     NaN              1             NaN
1        2011-04-27                     NaN              9             NaN
2        2017-06-06              2019-12-06              1             NaN
3        2014-10-03                     NaN              0             NaN
4        2019-09-25                     NaN              2             NaN
..              ...                     ...            ...             ...
327      2010-07-07                     NaN              2             NaN
328      2018-08-14                     NaN              2             NaN
329      2021-12-09                     NaN             51             NaN
330      2013-07-23                     NaN              2             NaN
331      2021-10-25                     NaN              9             NaN

[332 rows x 9 columns]
5
10
15